.wrapper-scrollbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 12px 0;
    background-color: var(--scrollbar-bg-color);

    .nav-list {
        margin-left: 0;
        padding-left: 0;

        .nav-item {
            margin-top: 8px;

            &:first-child {
                margin-top: unset;
            }

            &.selected {
                .nav-menu {
                    border-radius: 16px;
                    background-color: var(--primary-color);
                    color: #fff;

                    &:has(.thumbnail) {
                        background-color: unset;

                        .thumbnail {
                            border-radius: 16px;
                        }
                    }
                }
            }
            .nav-menu {
                width: 48px;
                height: 48px;
                background-color: var(--primary-bg-color);
                color: var(--text-normal);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: var(--primary-bg-color);
                border-radius: 50%;
                transition: all ease-in 0.2s;

                cursor: pointer;

                .logo {
                    fill: var(--text-normal);
                }

                .thumbnail {
                    border-radius: 50%;
                    transition: all ease-in 0.2s;
                }

                &:hover {
                    border-radius: 16px;
                    background-color: var(--primary-color);
                    color: #fff;
                }

                &:has(.thumbnail):hover {
                    border-radius: 16px;
                    background-color: unset;

                    .thumbnail {
                        border-radius: 16px;
                    }
                }
            }
        }
    }

    .separate {
        margin: 8px 0;
    }
}
